extends layout

block content
  h1 #{title}:
  h2 #[strong Imprint:] #{bookinstance_imp}
  h3 #{book}:
  
  
    p Do you really want to delete this book instance?
    
    form(method='POST' action='')
 
      button.btn.btn-primary(type='submit') Delete